<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title> Personal Portfolio </title>
</head>

<body>

  <!-- Masthead -->
  <header role="banner">
    <h1> Personal Portfolio </h1>
    <nav>
      <ul title="Site navigation">
      {% if person %}
        {% if menu_list %}
        <li>
          <a href="#{{ menu_list.0.menu_item|slugify }}">{{ person.0.first_name }} {{ person.0.last_name }}</a>
        </li>
        {% else %}
        <li>{{ person.0.first_name }} {{ person.0.last_name }}</li>
        {% endif %}
      {% else %}
        {% if menu_list %}
        <li>
          <a href="#{{ menu_list.0.menu_item|slugify }}">About</a>
        </li>
        {% else %}
        <li>About</li>
        {% endif %}
      {% endif %}
        <li>
          <a href="#contact">Contact</a>
        </li>

        <li>
          <a href="/admin/">Admin</a>
        </li>

      </ul>
    </nav>
  </header>

<!-- navigation menu -->
{% if menu_list %}
  <nav role="navigation">
    <ul title="Content navigation">
    {% for menu_item in menu_list %}
        <li>
          <a href="#{{ menu_item.menu_item|slugify }}">{{ menu_item.menu_item }}</a>
        </li>
    {% endfor %}
    </ul>
  </nav>
{% endif %}

<!-- main content -->
  <article role="main">
  {% if menu_list %}
    {% for menu_item in menu_list %}
    <section id="{{ menu_item.menu_item|slugify }}">
      <h2>{{ menu_item.menu_item }}</h2>

      {% if menu_item.menu_item|slugify == 'education' and education %}
      <!-- education -->
      {% for school in education %}
        <h3>{{ school.institute_name }}</h3>
        <p>
          {{ school.institute_type }}
        </p>
        <p>
          {{ school.description }}
        </p>
        <p>
          {{ school.start_date }}-{{ school.end_date }}
        </p>
      {% endfor %}

      {% elif menu_item.menu_item|slugify == 'experience' and experience %}
      <!-- jobs -->
      <p>work</p>

      {% elif menu_item.menu_item|slugify == 'skills' and skills %}
      <!-- skills -->
      <p>skills</p>

      {% elif menu_item.menu_item|slugify == 'publications' and publications %}
      <!-- publications -->
      <p>books</p>

      {% elif menu_item.menu_item|slugify == 'projects' and projects %}
      <!-- projects -->
      <p>projects</p>

      {% elif menu_item.menu_item|slugify == 'gallery' and pictures %}
      <!-- gallery -->
        {% for img in pictures %}
        <img src="{{ img.upload.url }}" height="{{ img.height }}" width="{{ img.width }}" alt="{{ img.title }}" title="{{ img.title }}" />
        {% endfor%}

      {% endif %}

      {% if menu_item.menu_item == menu_list.0.menu_item and person %}
      <!-- CONTACT INFO STARTS HERE -->
      <section id="contact">
        <h3>Contact</h3>
        <h4>{{ person.0.titles_before_name }} {{ person.0.first_name }} {{ person.0.last_name }} {{ person.0.titles_after_name }}</h4>

        <!-- email -->
        <address>
          <p>
            Email: <a href="mailto:{{ person.0.default_email }}">{{ person.0.default_email }}</a>
          </p>
          {% if emails %}
          <p>
            Other emails:
          </p>
          <ul>
            {% for email in emails %}
            <li>
              <a href="mailto:{{ email.email }}">{{ email.email }}</a>
            </li>
            {% endfor %}
          </ul>
          {% endif %}
        </address>

        <!-- website -->
        {% if person.0.default_website %}
        <p>
          Website: <a href="{{ person.0.default_website }}">{{ person.0.default_website }}</a>
        </p>
        {% endif %}
        {% if websites %}
        <p>
          Other websites:
        </p>
        <ul>
          {% for website in websites %}
          <li>
            <a href="{{ website.website }}">{{ website.website }}</a>
          </li>
          {% endfor %}
        </ul>
        {% endif %}

        <!-- phones -->
        {% if person.0.default_phone %}
        <p>
          Phone: {{ person.0.default_phone }}
        </p>
        {% endif %}
        {% if phones %}
        <p>
          Other phones:
        </p>
        <ul>
          {% for phone in phones %}
          <li>
            {{ phone.phone }}
          </li>
          {% endfor %}
        </ul>
        {% endif %}

      </section>
      <!-- CONTACT INFO ENDS HERE -->
      {% endif %}

    </section>
    {% endfor %}
  {% endif %}
  </article>

</body>

</html>
